/****************************************************** BASICS ******************************************************/
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}

section {
    min-height: 100vh;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

h1,h2,h3,h4,a {
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
}

.main-content {
    left: 0;
}

.main-content img {
    width: 140px;
}

.main-content a {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.main-content .arrow {
    width: 40px;
}

.main-content .arrow:hover {
    opacity: 0.5;
    transition: all 500ms;
}
/****************************************************** HEADER / NAVIGATION *****************************************/
.logo img {
    width: 80px;
    float: left;
    margin-left: 25px;
}

.logo img:hover {
    opacity: 0.5;
    transition: all 500ms;
}

header {
    top: 0;
    position: fixed;
    left: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 10;
}

header nav {
    float: right;
}

header nav ul a {
    float: left;
    margin: 0 25px 0 15px;
}

.main-nav a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin-top: 10px;
}

.main-nav a li:hover {
    color: green;
    padding-top: 5px;
}
/****************************************************** HOME ********************************************************/
.main-content .home .row {
    display: flex;
    justify-content: space-around;
}

.main-content .home .row .column h4 {
    margin-bottom: -100px;
}

.main-content .home .row .column img:hover{
    opacity: 0.9;
    transition: all 500ms;
}

.main-content .home h2 {
    margin-bottom: 100px;
}

.main-content .home {
    padding-top: 130px;
    color: white;
    background: url(../images/background-home.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/****************************************************** ABOUT *******************************************************/
.main-content .about .row {
    margin: 130px 30px auto 30px;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
}

.main-content .about .row .column1{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.main-content .about .row .column2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.listeHobby{
    display: flex;
    justify-items: baseline;
    flex-direction: column;
}

.main-content .about h3 {
    padding-top: 80px;
    margin-bottom: 0;
}

.main-content .about h4 {
    padding-top: 80px;
    margin-bottom: 0;
}

.main-content .about hr{
    width: 80px;
    height: 3px;
    background-color: black;
    margin: 0 auto 15px auto;
}

.main-content .about .row .column h4{
    margin-bottom: 0;
}
/****************************************************** SKILLS ******************************************************/
.main-content .skills h3 {
    padding-top: 80px;
    margin-bottom: 0;
}

.main-content .skills hr{
    width: 80px;
    height: 3px;
    background-color: black;
    margin: 0 auto 15px auto;
}

.main-content .skills .row {
    margin: 130px 30px auto 30px;
    display: flex;
    justify-content: space-around;
}

.main-content .skills .row .column{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 5px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.4);
}

.main-content .skills .row .column p{
    text-align: center;
    font-family: Arial;
}
/****************************************************** Career ******************************************************/
.main-content .career h3 {
    padding-top: 80px;
    margin-bottom: 0;
    color: white;
}

.main-content .career hr{
    width: 80px;
    height: 3px;
    background-color: white;
    margin: 0 auto 15px auto;
}

.main-content .career {
    background: url(../images/background-career.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.main-content .arrow-a {
    margin-bottom: 40px;
}

.timeline h5 {
    font-family: Arial;
    font-size: 20px;
}

.timeline p {
    font-family: Arial;
    font-size: 15px;
}

.timeline{
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 45.3%;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-dahmals {
    margin-top: 80px;
    text-align: center;
    font-family: Arial;
    color: white;
}

.timeline-heute {
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial;
    color: white;
}
/****************************************************** FOOTER ******************************************************/
body footer {
    height: 40px;
    width: 100%;
    background: #424242;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}