/*********** BASICS **************/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}
section {
    min-height: 100%;
    overflow: auto;
}
a {
    text-decoration: none;
}
nav ul li {
    list-style-type: none;
}
h1, h2, h3, a {
    font-family: Arial;
    text-transform: uppercase;
}
hr {
    width: 80px;
    height: 3px;
    background-color: black;
    margin: 0 auto 15px auto
}
section img {
    width: 240px
}
li, .logo, img, .button, .fa-bars {
    transition: all 350ms;
}

/*********** Header **************/
header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 1;
}
.logo img {
    margin: -3px 0 0 80px;
    width: 80px;
    float: left;
}
nav ul a li {
    float: right;
    color: black;
    margin-top: 5px;
    margin-right: 80px;
    margin-left: -60px;
}
.main-nav ul a li:hover {
    padding-top: 5px;
    color: green;
}


/*********** ABOUT **************/
#about {
    background-image: url(../pictures/background.png);
    padding-top: 70px;
    margin-bottom: 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#about h1{
    color: white;
    font-size: 40px;
}
#about h2 {
    color: white;
    font-size: 20px;
    padding-bottom: 70px;
}
#about h3 {
    font-size: 35px;
    margin-bottom: 0;
    color: white;
}
#about hr {
    background-color: white;
}
#about p {
    padding-top: 20px;
    color: white;
    font-family: Arial;
}



/*********** Skills **************/
#skills {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#skills h3 {
    font-size: 35px;
    margin-bottom: 0;
}




/*********** Career **************/
#career {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#career h3 {
    font-size: 35px;
    margin-bottom: 0;
}







/*********** Footer **************/
footer {
    background-color: #585858;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p {
    text-align: center;
    color: white;
}